.atte{
    width: 100%;
    min-height: 466px;
    margin-top: 86px;
    /*border:1px solid #dddddd;*/

}
/*左边*/
.atte-left{
    width: 300px;
    height: 466px;
    position: fixed;
    top: 87px;
    left: 102px;
    /*border-right:1px solid #dddddd;*/
    overflow: hidden;
    overflow: auto;
    /*background: pink;*/
}
.atte-left>ul{
    width: 100%;
    height: 100%;
}
.atte-left>ul>li{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    box-sizing: border-box;

}
.atte-left>ul>li:hover{
    background: #f0f0f0;
}
.atte-left>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.atte-left>ul>li>a>i{
    color: #10D07A;
    font-size: 28px;
    margin-top: 10px;
    vertical-align: middle;
    line-height: 60px;

}
.atte-left>ul>li>a>span{
    margin-left: 15px;
    color: #333333;
    font-size: 15px;
    padding-top: 5px;
}
.atte-right{
    width: 863px;
    height: 466px;
    float: right;
    /*background: pink;*/
}
iframe{
    width: 100%;
    height: 100%;
}


