<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{CSS_URL}/addAtte.css">
    <link rel="stylesheet" href="{ICON_URL}/iconfont.css">
    <script type="text/javascript" src="{JS_URL}/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="{JS_URL}/layout.js"></script>
    <title>Document</title>
</head>
<body>
<div class="tab">
    <div class="tab_menu">
        <ul>
            <li class="on">全部推荐</li>
            <li>推荐作者</li>
            <li>推荐专题</li>
        </ul>
    </div>
    <div class="tab_box">
        <!--全部推荐-->
        <div>
            <div class="zhuantiBox">
                <a href="" class="photo" style="border-radius: 50%"><img src="{IMG_URL}/shouhui.jpg" alt="" style="border-radius: 50%"></a>
                <div class="info">
                    <a href="" class="name">王佩</a>
                    <p>十分精力：四分读书，三分写书，三分教书。《正版语文》作者，21世...</p>
                    <a href="" class="bottom">
                        <i class="iconfont icon-zhuanti"></i>
                        <span>从建筑师那里学习写作</span>
                        <i class="iconfont icon-zhuanti"></i>
                        <span>人真的对罪恶束手无策吗</span>
                    </a>
                </div>
                <div class="btn">
                    <i class="iconfont icon-guanzhu"></i>
                    <span>关注</span>
                </div>
            </div>
            <div class="zhuantiBox">
                <a href="" class="photo" style="border-radius: 50%"><img src="{IMG_URL}/shouhui.jpg" alt="" style="border-radius: 50%"></a>
                <div class="info">
                    <a href="" class="name">王佩</a>
                    <p>十分精力：四分读书，三分写书，三分教书。《正版语文》作者，21世...</p>
                    <a href="" class="bottom">
                        <i class="iconfont icon-zhuanti"></i>
                        <span>从建筑师那里学习写作</span>
                        <i class="iconfont icon-zhuanti"></i>
                        <span>人真的对罪恶束手无策吗</span>
                    </a>
                </div>
                <div class="btn">
                    <i class="iconfont icon-guanzhu"></i>
                    <span>关注</span>
                </div>
            </div>

        </div>
        <!--推荐作者-->
        <div>
            <div class="zhuantiBox">
                <a href="" class="photo" style="border-radius: 50%"><img src="{IMG_URL}/shouhui.jpg" alt="" style="border-radius: 50%"></a>
                <div class="info">
                    <a href="" class="name">王佩</a>
                    <p>十分精力：四分读书，三分写书，三分教书。《正版语文》作者，21世...</p>
                    <a href="" class="bottom">
                        <i class="iconfont icon-zhuanti"></i>
                        <span>从建筑师那里学习写作</span>
                        <i class="iconfont icon-zhuanti"></i>
                        <span>人真的对罪恶束手无策吗</span>
                    </a>
                </div>
                <div class="btn">
                    <i class="iconfont icon-guanzhu"></i>
                    <span>关注</span>
                </div>
            </div>
        </div>
        <!--推荐专题-->
        <div>
            <div class="zhuantiBox">
                <a href="" class="photo"><img src="{IMG_URL}/shouhui.jpg" alt=""></a>
                <div class="info">
                    <a href="" class="name">手绘</a>
                    <p>本专题是绘画爱好者的乐园，欢迎互相分享学习;关于专题投稿要求...</p>
                    <a href="" class="bottom">
                        <i class="iconfont icon-zhuanti"></i>
                        <span>73.7K篇文章&nbsp;889.2K人关注</span>
                    </a>
                </div>
                <div class="btn">
                    <i class="iconfont icon-guanzhu"></i>
                    <span>关注</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>