{include file="template/index/header.html"}

<main>
    <div class="atte">
        <div class="atte-left">
            <ul>
                <li>
                    <a href="index.php?m=index&f=addAtte" target="right">
                        <i class="iconfont icon-guanzhu"></i>
                        <span>添加关注</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=letter" target="right">
                        <i class="iconfont icon-youxiangyoujianxinjian"></i>
                        <span>散文</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=tougao" target="right">
                        <i class="iconfont icon-write"></i>
                        <span>国学与传统文化</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=like" target="right">
                        <i class="iconfont icon-xihuan"></i>
                        <span>设计</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=guanzhu" target="right">
                        <i class="iconfont icon-guanzhu"></i>
                        <span>诗</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=money" target="right">
                        <i class="iconfont icon-money"></i>
                        <span>程序员</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=money" target="right">
                        <i class="iconfont icon-money"></i>
                        <span>二次元</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=money" target="right">
                        <i class="iconfont icon-money"></i>
                        <span>手账圈</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=money" target="right">
                        <i class="iconfont icon-money"></i>
                        <span>互联网</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=money" target="right">
                        <i class="iconfont icon-money"></i>
                        <span>短篇小说</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="atte-right">
            <iframe src="" frameborder="0" name="right"></iframe>
        </div>
    </div>

</main>

</body>
</html>