<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客</title>
    <link rel="stylesheet" href="{CSS_URL}/index.css">
    <link rel="stylesheet" href="{CSS_URL}/header.css">
    <link rel="stylesheet" href="{CSS_URL}/footer.css">
    <link rel="stylesheet" href="{CSS_URL}/artical.css">
    <link rel="stylesheet" href="{CSS_URL}/message.css">
    <link rel="stylesheet" href="{CSS_URL}/attention.css">
    <link rel="stylesheet" href="{CSS_URL}/zhuye.css">
    <link rel="stylesheet" href="{CSS_URL}/shoucang.css">
    <link rel="stylesheet" href="{CSS_URL}/xihuan.css">
    <link rel="stylesheet" href="{CSS_URL}/qianbao.css">
    <link rel="stylesheet" href="{CSS_URL}/shezhi.css">
    <link rel="stylesheet" href="{CSS_URL}/zhuanti.css">
    <!--<link rel="stylesheet" href="{CSS_URL}/bootstrap.min.css">-->
    <link rel="stylesheet" href="{ICON_URL}/iconfont.css">
    <script src="{JS_URL}/function.js"></script>
    <script src="{JS_URL}/jquery.js"></script>
    <script src="{JS_URL}/jquery-3.2.1.js"></script>


</head>
<body>
<!--头部-->
<header>
    <a href="" class="logo">博客</a>
    <div class="box"><a href="" class="write">个人中心</a></div>
    <div class="box"><a href="index.php?m=admin&f=reg" class="reg">注册</a></div>
    <div class="box"><a href="index.php?m=admin&f=login" class="login">登录</a></div>
    <!--<div class="box"><a href="index.php?m=admin&f=index" class="login">后台</a></div>-->
        <div class="box1"><a href="index.php?m=index" class="shouye" style="color: #10D07A">发现</a></div>
    <div class="box1"><a href="index.php?m=index&f=attention" class="shouye">关注</a></div>
    <div class="box1"><a href="index.php?m=index&f=message" class="shouye">消息</a></div>
    <div class="content">
        <ul>
            <li>
                <a href="index.php?m=index&f=zhuye">
                    <i class="iconfont icon-iconfontwo"></i>
                    <span>我的主页</span>
                </a>
            </li>
            <li>
                <a href="index.php?m=index&f=shoucang">
                    <i class="iconfont icon-shoucang-copy-copy"></i>
                    <span>收藏的文章</span>
                </a>
            </li>
            <li>
                <a href="index.php?m=index&f=xihuan">
                    <i class="iconfont icon-xihuan1"></i>
                    <span>喜欢的文章</span>
                </a>
            </li>
            <li>
                <a href="index.php?m=index&f=qianbao">
                    <i class="iconfont icon-qianbao"></i>
                    <span>我的钱包</span>
                </a>
            </li>
            <li>
                <a href="index.php?m=index&f=qianbao">
                    <i class="iconfont icon-qianbao"></i>
                    <span>购物车</span>
                </a>
            </li>
            <li>
                <a href="index.php?m=index&f=shezhi">
                    <i class="iconfont icon-shezhi"></i>
                    <span>设置</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="iconfont icon-tuichu"></i>
                    <span>退出</span>
                </a>
            </li>
        </ul>
    </div>
</header>
