{include file="template/index/header.html"}
<main>
    <!--banner开始-->
    <div class="banner">
        <ul class="bannerBox">
            <li><img src="{IMG_URL}/b1.jpg" alt=""></li>
            <li><img src="{IMG_URL}/b2.jpg" alt=""></li>
            <li><img src="{IMG_URL}/b3.jpg" alt=""></li>
            <li><img src="{IMG_URL}/f17.jpg" alt=""></li>
        </ul>
        <a href="" class="prev iconfont icon-jiankuohaoxizuo"></a>
        <a href="" class="next iconfont icon-jiankuohaoxiyou"></a>
    </div>
    <!--banner结束-->
    <!--列表开始-->
    <div class="lists">
        <!--左边列表-->
        <div class="listLeft">
            <div class="listBox">
                <!--图片-->
                <div class="listTu">
                    <img src="{IMG_URL}/f10.jpg" alt="">
                </div>
                <!--文字-->
                <div class="listZi">
                    <span><a href="" class="article">文章 &nbsp;</a></span>
                    <span> @吟游诗人 &nbsp;</span>
                    <span>2017/10/9</span>
                    <h1><a href="index.php?m=index&f=artical">那不过是一阵蝶翼的颤动</a></h1>
                    <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变</p>
                    <div class="meta">
                        <a href="" class="meta-tag">读书</a>
                        <a href="" class="meta-guanzhu iconfont icon-guanzhu_n">3918</a>
                        <a href="" class="meta-guanzhu iconfont icon-pinglun">52</a>
                        <a href="" class="meta-guanzhu iconfont icon-xihuan1">165</a>
                        <a href="" class="meta-guanzhu iconfont icon-jiaqian">1</a>
                    </div>
                </div>
            </div>
            <div class="listBox">
                <!--图片-->
                <div class="listTu">
                    <img src="{IMG_URL}/f10.jpg" alt="">
                </div>
                <!--文字-->
                <div class="listZi">
                    <span><a href="" class="article">文章 &nbsp;</a></span>
                    <span> @吟游诗人 &nbsp;</span>
                    <span>2017/10/9</span>
                    <h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>
                    <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变</p>
                    <div class="meta">
                        <a href="" class="meta-tag">读书</a>
                        <a href="" class="meta-guanzhu iconfont icon-guanzhu_n">3918</a>
                        <a href="" class="meta-guanzhu iconfont icon-pinglun">52</a>
                        <a href="" class="meta-guanzhu iconfont icon-xihuan1">165</a>
                        <a href="" class="meta-guanzhu iconfont icon-jiaqian">1</a>
                    </div>
                </div>
            </div>
            <div class="listBox">
                <!--图片-->
                <div class="listTu">
                    <img src="{IMG_URL}/f10.jpg" alt="">
                </div>
                <!--文字-->
                <div class="listZi">
                    <span><a href="" class="article">文章 &nbsp;</a></span>
                    <span> @吟游诗人 &nbsp;</span>
                    <span>2017/10/9</span>
                    <h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>
                    <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变</p>
                    <div class="meta">
                        <a href="" class="meta-tag">读书</a>
                        <a href="" class="meta-guanzhu iconfont icon-guanzhu_n">3918</a>
                        <a href="" class="meta-guanzhu iconfont icon-pinglun">52</a>
                        <a href="" class="meta-guanzhu iconfont icon-xihuan1">165</a>
                        <a href="" class="meta-guanzhu iconfont icon-jiaqian">1</a>
                    </div>
                </div>
            </div>
            <div class="listBox">
                <!--图片-->
                <div class="listTu">
                    <img src="{IMG_URL}/f10.jpg" alt="">
                </div>
                <!--文字-->
                <div class="listZi">
                    <span><a href="" class="article">文章 &nbsp;</a></span>
                    <span> @吟游诗人 &nbsp;</span>
                    <span>2017/10/9</span>
                    <h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>
                    <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变</p>
                    <div class="meta">
                        <a href="" class="meta-tag">读书</a>
                        <a href="" class="meta-guanzhu iconfont icon-guanzhu_n">3918</a>
                        <a href="" class="meta-guanzhu iconfont icon-pinglun">52</a>
                        <a href="" class="meta-guanzhu iconfont icon-xihuan1">165</a>
                        <a href="" class="meta-guanzhu iconfont icon-jiaqian">1</a>
                    </div>
                </div>

            </div>
            <a href="" class="readMore">阅读更多</a>
        </div>
        <!--右边列表-->
        <div class="listRight">
            <div class="tagBox">
                <h2>热门专题</h2>
                <a href="index.php?m=index&f=zhuanti" class="tag">世间事</a>
                <a href="" class="tag">心里</a>
                <a href="" class="tag">历史</a>
                <a href="" class="tag">散文</a>
                <a href="" class="tag">连载小说</a>
                <a href="" class="tag">手账圈</a>
                <a href="" class="tag">读书</a>
                <a href="" class="tag">短篇小说</a>
                <a href="" class="tag">
                    更多热门专题
                    <i class="iconfont icon-jiankuohaoxiyou"></i>
                </a>
            </div>

        </div>
    </div>
    <!--列表结束-->
</main>
{include file="template/index/footer.html"}
