{include file="template/index/header.html"}
<main>
    <div class="contain">
        <div class="contain-left">
            <ul>
                <li>
                    <a href="index.php?m=index&f=pinglun" target="right" class="on">
                        <i class="iconfont icon-icon"></i>
                        <span>基础设置</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=letter" target="right">
                        <i class="iconfont icon-youxiangyoujianxinjian"></i>
                        <span>个人资料</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=tougao" target="right">
                        <i class="iconfont icon-write"></i>
                        <span>微博认证</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=like" target="right">
                        <i class="iconfont icon-xihuan"></i>
                        <span>黑名单</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=guanzhu" target="right">
                        <i class="iconfont icon-guanzhu"></i>
                        <span>赞赏设置</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?m=index&f=money" target="right">
                        <i class="iconfont icon-money"></i>
                        <span>账号管理</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="contain-right">
            <iframe src="" frameborder="0" name="right"></iframe>
        </div>
    </div>

</main>
</body>
</html>