{include file="template/index/header.html"}
<div class="shoucangBox">
    <div class="shoucangTop">
        <span class="iconfont icon-shoucang-copy-copy"></span>
        <span>收藏的文章</span>
    </div>

    <div class="listBox">
        <!--图片-->
        <div class="listTu">
            <img src="{IMG_URL}/f10.jpg" alt="">
        </div>
        <!--文字-->
        <div class="listZi">
            <span><a href="" class="article">文章 &nbsp;</a></span>
            <span> @吟游诗人 &nbsp;</span>
            <span>2017/10/9</span>
            <h1><a href="index.php?m=index&f=artical">那不过是一阵蝶翼的颤动</a></h1>
            <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变</p>
            <div class="meta">
                <a href="" class="meta-tag">读书</a>
                <a href="" class="meta-guanzhu iconfont icon-guanzhu_n">3918</a>
                <a href="" class="meta-guanzhu iconfont icon-pinglun">52</a>
                <a href="" class="meta-guanzhu iconfont icon-xihuan1">165</a>
                <a href="" class="meta-guanzhu iconfont icon-jiaqian">1</a>
            </div>
        </div>
    </div>
    <div class="listBox">
        <!--图片-->
        <div class="listTu">
            <img src="{IMG_URL}/f10.jpg" alt="">
        </div>
        <!--文字-->
        <div class="listZi">
            <span><a href="" class="article">文章 &nbsp;</a></span>
            <span> @吟游诗人 &nbsp;</span>
            <span>2017/10/9</span>
            <h1><a href="index.php?m=index&f=artical">那不过是一阵蝶翼的颤动</a></h1>
            <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变</p>
            <div class="meta">
                <a href="" class="meta-tag">读书</a>
                <a href="" class="meta-guanzhu iconfont icon-guanzhu_n">3918</a>
                <a href="" class="meta-guanzhu iconfont icon-pinglun">52</a>
                <a href="" class="meta-guanzhu iconfont icon-xihuan1">165</a>
                <a href="" class="meta-guanzhu iconfont icon-jiaqian">1</a>
            </div>
        </div>
    </div>
</div>



</body>
</html>